node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# TypeScript
*.tsbuildinfo

# Caches
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache

# Misc package outputs
*.tgz

# Yarn
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Other build folders
.next
out
.nuxt
dist
.vuepress/dist
.temp
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless
.fusebox
.dynamodb
.firebase
.tern-port
.vscode-test

# Vite timestamps
vite.config.js.timestamp-*
vite.config.ts.timestamp-*